.room-detail-202405031420{


    .content-data{
        display: flex; 

        .form-data{
            flex-grow: 2;
            padding-right: 40px;
        }

        .table-data{
            flex-grow: 2;
        }
    }
}

.text-form-2024{ 
    font-weight: bold;
}
