.control-item {
    .ant-input-group-wrapper-status-error {}
}

.control-label {
    color: #2a2a2a;
    font-size: 16px;
}

.control-error {
    color: #ff473d;
}

.input-textarea {
    width: 100%;

    textarea {
        width: 100%;
        border-radius: 3px;
    }
}

.input-text {
    width: 100%;

    input {
        width: 100%;
        border-radius: 3px;
    }
}

.input-number {
    width: 100%;

    .ant-input-number {
        width: 100%;
    }
}

.input-date {
    .ant-picker {
        width: 100%;
    }
}

.input-date-time {
    .ant-picker {
        width: 100%;
    }
}