.room-detail-2024050314201{


    .content-data1{
        display: flex; 

        .form-data1{
            flex-grow: 2;
            padding-right: 40px;
            padding-left: 40px;
          
        }

        .table-data1{
            flex-grow: 2;
        }
    }
}

.text-form-2024{ 
    font-weight: bold;
}
